---
import OuterLayout from '../../../layouts/OuterLayout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import TwitterLarge from '../../../components/opengraph/TwitterLarge.svelte';
import TwitterSmall from '../../../components/opengraph/TwitterSmall.svelte';
import FacebookLarge from '../../../components/opengraph/FacebookLarge.svelte';
import defaultImage from "../../../assets/headshot-2.jpg";

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { title, tagline, emoji, heroImage } = post.data;
const titleWithEmoji = `${emoji} ${title}`;
const url = "www.caseywatts.com" + `/blog/${post.slug}/`;
const description = post.data.description || `${emoji} ${title} ${tagline}`;
const imageSrc = heroImage || defaultImage;

const sharedContent =
`✨ Blog Post ✨%0A%0A
${titleWithEmoji}%0A
${tagline}%0A%0A`;

const tootContent =
`${sharedContent}
${url}?utm_medium=social&utm_source=mastodon`

const tweetContent =
`${sharedContent}
${url}?utm_medium=social&utm_source=twitter`

const tootLink = `https://social.coop/share?text=${tootContent}`
const tweetLink = `https://twitter.com/intent/tweet?text=${tweetContent}`

const linkedinContent =
`✨ Blog Post ✨ (link in comments)
${titleWithEmoji}
${tagline}`

const linkedinURL = `${url}?utm_medium=social&utm_source=linkedin`
---


<OuterLayout>
  <div class="block panel max-w-sm">
    <h2 class="text-2xl mb-4">Twitter Preview Small</h2>
    <TwitterSmall title={titleWithEmoji} description={description} url={url} imageSrc={imageSrc}/>
  </div>
  <div class="block panel max-w-sm">
    <h2 class="text-2xl mb-4">Twitter Preview Large</h2>
    <TwitterLarge title={titleWithEmoji} description={description} imageSrc={imageSrc}/>
  </div>
  <div class="block panel max-w-sm">
    <h2 class="text-2xl mb-4">Facebook Preview Large</h2>
    <FacebookLarge title={titleWithEmoji} description={description} url={url} imageSrc={imageSrc}/>
  </div>

  <div class="block panel">
    <a class="button-link block" target="_blank" href={`https://developers.facebook.com/tools/debug/?q=${encodeURIComponent(url)}`}>Facebook Sharing Debugger</a>
    <a class="button-link block" target="_blank" href={`https://www.linkedin.com/post-inspector/inspect/${encodeURIComponent(url)}`}>LinkedIn Post Inspector</a>
    <!-- <a class="button-link block" target="_blank" href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(url)}`}>Twitter Card Preview</a> -->
  </div>

  <div class="block panel hover:bg-blue-100">
    <div class="mb-4 text-2xl">Post to Mastodon</div>
    <pre class="bg-slate-50 p-4">{decodeURI(tootContent)}</pre>
    <div class="flex justify-end">
      <a class="button-link" target="_blank" href={tootLink}>Toot</a>
    </div>
  </div>
  <div class="block panel hover:bg-blue-100">
    <div class="mb-4 text-2xl">Post to Twitter</div>
    <pre class="bg-slate-50 p-4">{decodeURI(tweetContent)}</pre>
    <div class="flex justify-end">
      <a class="button-link" target="_blank" href={tweetLink}>Tweet</a>
    </div>
  </div>
  <div class="block panel hover:bg-blue-100">
    <div class="mb-4 text-2xl">Post to Linkedin</div>
    <pre class="bg-slate-50 p-4">{decodeURI(linkedinContent)}</pre>
    <pre class="bg-slate-50 p-4">{linkedinURL}</pre>
    <div class="flex justify-end">
      <a class="button-link" target="_blank" href="https://www.linkedin.com/feed/">Manual Linkedin Post</a>
      <!-- <a class="button-link" target="_blank" href=`https://www.linkedin.com/sharing/share-offsite/?url=${url}`>Sharing Offsite Linkedin Post</a> -->
    </div>
  </div>

</OuterLayout>