---
import OuterLayout from '../../../layouts/OuterLayout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import TwitterLarge from '../../../components/opengraph/TwitterLarge.svelte';
import TwitterSmall from '../../../components/opengraph/TwitterSmall.svelte';
import FacebookLarge from '../../../components/opengraph/FacebookLarge.svelte';
import defaultImage from "../../../assets/headshot-2.jpg";
import CheckboxListItem from "../../../components/CheckboxListItem.svelte";
import CheckboxCounter from "../../../components/CheckboxCounter.svelte";

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { title, tagline, emoji, heroImage, hashtags } = post.data;
const titleWithEmoji = `${emoji} ${title}`;
const titleWithEmojiAndTagline = `${emoji} ${title} — ${tagline}`;
const url = Astro.url.origin + `/blog/${post.slug}/`;
const urlWithoutProtocol = "www.caseywatts.com" + `/blog/${post.slug}/`; // where was this needed?
const description = post.data.description || `${emoji} ${title} ${tagline}`;
const imageSrc = heroImage || defaultImage;

const sharedContent =
`✨ Blog Post ✨

${titleWithEmojiAndTagline}

${description}
`;

const tootContent =
`${sharedContent}
${url}?utm_medium=social&utm_source=mastodon

${hashtags}`

const tweetContent =
`${sharedContent}
${url}?utm_medium=social&utm_source=twitter

${hashtags}`

const tootLink = `https://social.coop/share?text=${encodeURIComponent(tootContent)}`
const tweetLink = `https://twitter.com/intent/tweet?text=${encodeURIComponent(tweetContent)}`

const linkedinContent =
`✨ Blog Post ✨ (link in comments)
${titleWithEmojiAndTagline}
${description}

${hashtags}`

const slackContent =
`I wrote a new blog post!

${titleWithEmojiAndTagline}
${description}`

const mailingListContent =
`I wrote a new blog post you might like! :)

${titleWithEmojiAndTagline}
${description}`

const linkedinURL = `${url}?utm_medium=social&utm_source=linkedin`
const slackDCURL = `${url}?utm_medium=social&utm_source=slack-dc`
const slackBaltimoreURL = `${url}?utm_medium=social&utm_source=slack-baltimore`
const slackRandsURL = `${url}?utm_medium=social&utm_source=slack-rands`
const haeDiscordURL = `${url}?utm_medium=social&utm_source=hae-discord`
const ccDiscordURL = `${url}?utm_medium=social&utm_source=cc-discord`
const redditURL = `${url}?utm_medium=social&utm_source=reddit`
const mailingListURL = `${url}?utm_medium=newsletter&utm_source=heycaseywattsup`
const meetupDiscordURL = `${url}?utm_medium=social&utm_source=meetup-discord`
const actDiscordURL = `${url}?utm_medium=social&utm_source=act-discord`
// const slackURL = `${url}?utm_medium=social&utm_source=slack`
const slackDCContent = `${decodeURI(slackContent)}

${slackDCURL}`;
const slackBaltimoreContent = `${decodeURI(slackContent)}

${slackBaltimoreURL}`;
const slackRandsContent = `${decodeURI(slackContent)}

${slackRandsURL}`;
const haeDiscordContent = `${decodeURI(slackContent)}

${haeDiscordURL}`;
const ccDiscordContent = `${decodeURI(slackContent)}

${ccDiscordURL}`;
const redditContent = `${decodeURI(slackContent)}

${redditURL}`;
const meetupDiscordContent = `${decodeURI(slackContent)}

${meetupDiscordURL}`;
const actDiscordContent = `${decodeURI(slackContent)}

${actDiscordURL}`;


import CopyableText from "../../../components/CopyableText.svelte";
---

<OuterLayout>
  <div class="block panel max-w-sm">
    <h2 class="text-2xl mb-4">Twitter Preview Small</h2>
    <TwitterSmall title={titleWithEmojiAndTagline} description={description} url={url} imageSrc={imageSrc}/>

    <h2 class="text-2xl mb-4">Twitter Preview Large</h2>
    <TwitterLarge title={titleWithEmojiAndTagline} description={description} imageSrc={imageSrc}/>

    <h2 class="text-2xl mb-4">Facebook Preview Large</h2>
    <FacebookLarge title={titleWithEmojiAndTagline} description={description} url={url} imageSrc={imageSrc}/>

    <div class="mx-auto text-2xl block text-right list-none mt-6">
      <CheckboxListItem id="card-preview">Social Media Preview Cards</CheckboxListItem>
    </div>
  </div>

  <div class="block panel space-y-4">
    <a class="button-link block" target="_blank" href={`https://developers.facebook.com/tools/debug/?q=${encodeURIComponent(url)}`}>Facebook Sharing Debugger</a>
    <a class="button-link block" target="_blank" href={`https://www.linkedin.com/post-inspector/inspect/${encodeURIComponent(urlWithoutProtocol)}`}>LinkedIn Post Inspector</a>
    <!-- <a class="button-link block" target="_blank" href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(url)}`}>Twitter Card Preview</a> -->
    <div class="mx-auto text-2xl block text-right list-none mt-6">
      <CheckboxListItem id="validation">Social Media Validation</CheckboxListItem>
    </div>
  </div>

  <div class="block panel space-y-4">
    <div class="mb-4 text-2xl">Post to Mastodon</div>
    <CopyableText text={decodeURI(tootContent)} client:only="svelte"></CopyableText>
    <div class="flex justify-end">
      <a class="button-link" target="_blank" href={tootLink}>Toot This</a>
    </div>
    <div class="mx-auto text-2xl block text-right list-none mt-6">
      <CheckboxListItem id="mastodon">Mastodon</CheckboxListItem>
    </div>
  </div>
  <div class="block panel space-y-4">
    <div class="mb-4 text-2xl">Post to Twitter</div>
    <CopyableText text={decodeURI(tweetContent)} client:only="svelte"></CopyableText>
    <div class="flex justify-end">
      <a class="button-link" target="_blank" href={tweetLink}>Tweet This</a>
    </div>
    <div class="mx-auto text-2xl block text-right list-none mt-6">
      <CheckboxListItem id="twitter">Twitter</CheckboxListItem>
    </div>
  </div>
  <div class="block panel space-y-4">
    <div class="mb-4 text-2xl">Post to Linkedin</div>
    <CopyableText text={decodeURI(linkedinContent)} client:only="svelte"></CopyableText>
    <CopyableText text={linkedinURL} client:only="svelte"></CopyableText>
    <div class="flex justify-end">
      
      <a class="button-link" target="_blank" href="https://www.linkedin.com/feed/">Create Linkedin Post Manually</a>
      <!-- <a class="button-link" target="_blank" href=`https://www.linkedin.com/sharing/share-offsite/?url=${url}`>Sharing Offsite Linkedin Post</a> -->
    </div>
    <div class="mx-auto text-2xl block text-right list-none mt-6">
      <CheckboxListItem id="linkedin">Linkedin</CheckboxListItem>
    </div>
  </div>
  <div class="block panel space-y-4">
    <div class="mb-4 text-2xl">Share to Slack</div>
    <div><a class="link" target="_blank" href="https://dctech.slack.com/archives/C0J8UUH34">DC</a></div>
    <CopyableText text={slackDCContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
  <CheckboxListItem id="dc">DC</CheckboxListItem>
</div>
<div>Baltimore</div>
  <CopyableText text={slackBaltimoreContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
  <CheckboxListItem id="baltimore">Baltimore</CheckboxListItem>
</div>
    <div><a class="link" target="_blank" href="https://rands-leadership.slack.com/archives/C0R7KB37Z">Rands</a></div>
    <CopyableText text={slackRandsContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
  <CheckboxListItem id="rands">Rands</CheckboxListItem>
</div>

<div><a class="link" target="_blank" href="https://discord.com/channels/1005230939472924772/1077328231369293874">HAE Discord</a></div>
<CopyableText text={haeDiscordContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
<CheckboxListItem id="hae-discord">HAE Discord</CheckboxListItem>
</div>

<div><a class="link" target="_blank" href="$">Code and Coffee Discord</a></div>
<CopyableText text={ccDiscordContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
<CheckboxListItem id="hae-discord">Code and Coffee Discord</CheckboxListItem>
</div>


<div><a class="link" target="_blank" href="https://www.reddit.com/r/heycaseywattsup/">HCWU Reddit</a></div>

<CopyableText text={redditContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
<CheckboxListItem id="hcwu-reddit">HCWU Reddit</CheckboxListItem>
</div>

<div><a class="link" target="_blank" href="https://www.reddit.com/r/heycaseywattsup/">Meetup Discord</a></div>
<CopyableText text={meetupDiscordContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
<CheckboxListItem id="meetup-discord">Meetup Discord</CheckboxListItem>
</div>

<div><a class="link" target="_blank" href="https://www.reddit.com/r/heycaseywattsup/">ACT Discord</a></div>
<CopyableText text={actDiscordContent} client:only="svelte"></CopyableText>
<div class="mx-auto text-2xl block text-right list-none mt-6">
<CheckboxListItem id="act-discord">ACT Discord</CheckboxListItem>
</div>

</div>


<div class="panel panel-main">

  <div><a class="link" target="_blank" href="https://buttondown.email/emails">Mailing List</a></div>
<pre class="bg-slate-50 p-4">
CATEGORY_GOES_HERE: {titleWithEmoji}
</pre>
<pre class="bg-slate-50 p-4">
Hi, it's me - Casey!

I wrote a new blog post you might like:

[{titleWithEmojiAndTagline}]({url})

{description}

[SCREENSHOT_GOES_HERE]({url})

<3,

[Casey Watts!](https://www.caseywatts.com)
</pre>

<div class="mx-auto text-2xl block text-right list-none mt-6">
  <CheckboxListItem id="mailing-list">Mailing list</CheckboxListItem>
</div>
  </div>

<div class="panel panel-main">
  <CheckboxCounter client:only="svelte" />
</div>

</OuterLayout>