---
const { tagName, description } = Astro.props;
---

<label class="bg-gradient-to-r from-violet-200 to-blue-200 shadow-md shadow-violet-400 hover:shadow-violet-400/50 border border-blue-400 hover:border-blue-600 hover:cursor-pointer p-4 m-2" for={tagName}>
  <div class="flex flex-row align-middle justify-between items-center">
      <span class="text-xl">{tagName}</span>
      <input type="checkbox" id={tagName} name="tag" value={tagName} checked />
  </div>
  <span class="text-slate-600">{description}</span>
</label>