---
import { Markup } from "astro-remote";
// import "./src/styles.css";

import Icon from "./icons/Icon.astro";

interface Props {
  url: String;
  variant?: String;
}

const { url, variant } = Astro.props;

const instance = new URL(url).hostname;
const splitPathname = url.split("/");
const tootId = splitPathname[splitPathname.length - 1];

let toot;
let userUrl;

try {
  const res = await fetch(`https://${instance}/api/v1/statuses/${tootId}`);
  console.log(res);
  toot = (await res.json()) || [];
  userUrl = new URL(toot?.account?.url)?.hostname;
} catch (err) {
  toot = null;
  console.log(err);
}
---


<div class:list={["container", variant || null]}>
  {
    !toot ? (
      <p>Post not found.</p>
    ) : (
      <div class="bg-blue-100 rounded-lg flex flex-col md:flex-row justify-between border-4 border-blue-300 p-4">
        <div class="flex flex-col justify-center">
          <Markup content={toot.content} />
          {toot.media_attachments.length === 0 ? null : (
            <div class="bg-violet-100 p-2">
              <img
              src={toot.media_attachments[0].url}
              alt={toot.media_attachments[0].description}
              />
              </div>
              )}
        </div>
        <div class="flex flex-col align-middle items-center">
          <div class="flex flex-row space-x-3">
            <img
              src={toot.account.avatar}
              alt={`${toot.account.username}'s avatar`}
              class="w-12 rounded-full inline-block"
            />
            <div>
              <div>{`@${toot.account.username}`}</div>
              <div class="text-sm">{`@${userUrl}`}</div>
            </div>
          </div>

          <div class="flex flex-row align-middle justify-center items-center space-x-4">
            <div class="flex flex-row items-center justify-center align-middle space-x-2">
              <Icon icon="reply-fill" />
              <span>{toot.replies_count}</span>
            </div>
            <div class="flex flex-row items-center justify-center align-middle space-x-2">
              <Icon icon="repeat" />
              <span>{toot.reblogs_count}</span>
            </div>
            <div class="flex flex-row items-center justify-center align-middle space-x-2">
              <Icon icon="star-fill" />
              <span>{toot.favourites_count}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right py-2">
        <a class="link" href={toot.url} target="_blank">
          View Post & Replies on Mastodon
        </a>
      </div>
    )
  }
</div>