---
import type { CollectionEntry } from 'astro:content';
import OuterLayout from '../layouts/OuterLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Bio from '../components/Bio.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, tagline, description, pubDate, updatedDate, heroImage, emoji } = Astro.props;
---

<title slot="head">{emoji + " " + title}</title>
<meta slot="head" name="title" content={emoji + " " + title} />
<meta slot="head" name="description" content={title + " " + tagline} />

<OuterLayout>
	<div class="bg-blue-50 p-2 md:p-6 my-2 md:my-6 mx-auto max-w-3xl drop-shadow-2xl hover:drop-shadow-xl transition ease-in-out duration-500">
		<div class="mb-5"><a href="/blog">⬅️ other posts</a></div>
		<article class="prose lg:prose-lg">
			{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
			<div class="flex flex-col md:flex-row justify-between space-x-5">
				<div class="text-8xl flex align-middle aspect-square">
					<span>{emoji}</span>
				</div>
				<h1 class="m-1 mb-0">
					{title}
					<div class="m-1 text-2xl">{tagline}</div>
				</h1>
				<span class="text-right italic text-violet-500 text-sm ml-2 w-36">
					<FormattedDate date={pubDate} />
				</span>
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<slot />
		</article>
	</div>
	<div class="bg-blue-50 p-2 md:p-6 my-2 md:my-6 mx-auto max-w-3xl drop-shadow-2xl hover:drop-shadow-xl transition ease-in-out duration-500">
		<Bio />
	</div>
</OuterLayout>