---
import type { CollectionEntry } from 'astro:content';
import OuterLayout from '../layouts/OuterLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Bio from '../components/Bio.astro';
import MastodonEmbed from '../components/MastodonEmbed.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, tagline, pubDate, updatedDate, heroImage, emoji, mastodonURL } = Astro.props;
---

<title slot="head">{emoji + " " + title}</title>
<meta slot="head" name="title" content={emoji + " " + title} />
<meta slot="head" name="description" content={title + " " + tagline} />

<OuterLayout>
	<div class="panel">
		<div class="flex mb-4">
			<div class="mb-5"><a href="/blog">⬅️ other posts</a></div>
			<div class="text-right italic text-violet-500 text-sm flex-1">
				Published <FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Updated <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
		</div>
		<article class="prose lg:prose-lg mx-auto">
			{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
			<div class="flex flex-col md:flex-row justify-center items-center align-middle space-x-5">
				<div class="text-8xl flex align-middle justify-center">
					<span>{emoji}</span>
				</div>
				<h1 class="mb-0 flex-1 flex flex-col align-middle justify-center">
					<div>
						{title}
						<div class="text-2xl">{tagline}</div>
					</div>
				</h1>
			</div>
			<slot />
		</article>
	</div>

	{
		mastodonURL && (
		<div class="panel">
			<h2 class="text-3xl text-center pb-6">Online Buzz & Comments</h2>
			<MastodonEmbed url={mastodonURL} />
		</div>
		)
	}

	<div class="panel">
		<Bio />
	</div>
</OuterLayout>

<script is:inline>
	// allow checkboxes on blog posts
	// I'd rather do this in a [rehype plugin](https://github.com/remarkjs/remark-gfm/issues/41), but this works for now
	document.querySelectorAll("input[type=checkbox]").forEach((node) => node.disabled = false)
</script>