---
import type { CollectionEntry } from 'astro:content';
import OuterLayout from '../layouts/OuterLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Bio from '../components/Bio.astro';
import CaseyFacts from '../components/CaseyFacts.svelte';
import MastodonEmbed from '../components/MastodonEmbed.astro'
import SuggestToSubscribe from '../components/SuggestToSubscribe.astro'
import defaultImage from "../assets/headshot-2.jpg";
import { SEO } from "astro-seo";

type Props = CollectionEntry<'blog'>['data'];

const { title, tagline, description, pubDate, updatedDate, heroImage, emoji, mastodonURL } = Astro.props;
const titleWithEmoji = emoji + " " + title;
const titleWithTagline = titleWithEmoji + " - " + tagline;
---

<title slot="head">{titleWithEmoji}</title>
<SEO
  slot="head"
  title={titleWithEmoji}
	description={description || titleWithTagline}
	openGraph={{
		basic: {
			title: titleWithEmoji,
			image: (heroImage || defaultImage),
			type: "website"
		}
	}}
	twitter={{
		creator: "@heycaseywattsup",
		image: (heroImage || defaultImage),
		title: titleWithEmoji,
		description: (description || titleWithTagline)
	}}
/>

<!-- <meta slot="head" name="title" content={emoji + " " + title} /> -->
<!-- <meta slot="head" name="description" content={description || title + " - " + tagline} /> -->
<meta slot="head" name="og:image" content={heroImage || defaultImage} />

<OuterLayout>
	<div class="panel">
		<div class="flex mb-4">
			<div class="mb-5"><a href="/blog">⬅️ other posts</a></div>
			<div class="text-right italic text-violet-500 text-sm flex-1">
				Published <FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Updated <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
		</div>
		<article class="prose lg:prose-lg mx-auto">
			{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
			<h1 class="flex flex-col md:flex-row justify-center items-center align-middle space-x-5">
				<div class="text-8xl flex align-middle justify-center items-center">
					<span>{emoji}</span>
				</div>
				<div class="mb-0 flex-1 flex flex-col align-middle justify-center">
					<div>
						{title}
						<div class="mt-1 text-2xl">{tagline}</div>
					</div>
				</div>
			</h1>
			<slot />
		</article>
	</div>

	{
		mastodonURL && (
		<div class="panel">
			<h2 class="text-3xl text-center pb-6">Mastodon Mentions</h2>
			<MastodonEmbed url={mastodonURL} />
		</div>
		)
	}

<div class="panel p-4">
	<SuggestToSubscribe />
</div>


	<div class="panel">
		<Bio />
	</div>
	<div class="panel">
		<CaseyFacts client:only="svelte" />
	</div>
</OuterLayout>

<script is:inline>
	// allow checkboxes on blog posts
	// I'd rather do this in a [rehype plugin](https://github.com/remarkjs/remark-gfm/issues/41), but this works for now
	document.querySelectorAll("input[type=checkbox]").forEach((node) => node.disabled = false)
</script>