---
import type { CollectionEntry } from 'astro:content';
import OuterLayout from '../layouts/OuterLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<title slot="head">{title}</title>
<meta slot="head" name="title" content={title} />
<meta slot="head" name="description" content={description} />

<OuterLayout>
	<article class="bg-white p-2 md:p-6 mt-2 md:mt-6 mx-auto prose lg:prose-lg">
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		<div class="flex justify-between">
			<h1 class="m-1">{title}</h1>
			<span class="m-1 italic">
				<FormattedDate date={pubDate} />
			</span>
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</div>
		<slot />
	</article>
</OuterLayout>